@use 'variables' as *;

.card {
    width: min(24rem, calc(100vw - 1.5rem*2));
    background-color: $neutral-1;
    padding: 1.5rem;
    border: 1px solid $neutral-3;
    border-radius: 1.375rem;
    box-shadow: .5rem .5rem #000;
    transition: box-shadow 0.2s;


    #{&}__img {
        border-radius: .5rem;
        margin: auto;
    }

    #{&}__h2 {
        font-size: $fs-3;
        color: $neutral-3;
        font-weight: $fw-default;
        margin-bottom: 1rem;
    }

    #{&}__a {
        text-decoration: none;

        &:hover,
        &:focus {
            .card__h1 {
                color: $primary;
                transition: .2s;
            }

        }
    }

    #{&}__h1 {
        color: $neutral-3;
        font-size: $fs-4;
        font-weight: $fw-bold;
        margin-bottom: 1rem;
    }

    #{&}__p {
        font-size: $fs-3;
        color: $neutral-2;
        line-height: 1.4;
        margin-bottom: 1.5rem;
    }

    .avatar__img {
        width: 2rem;
    }

    .avatar__h3 {
        font-weight: $fw-bold;
    }
}

@media (min-width: 576px) {
    .card:hover,
    .card:focus-within {
        box-shadow: 1rem 1rem #000;
    }
}