$primary: hsl(47, 88%, 63%);
$neutral-1: hsl(0, 0%, 100%);
$neutral-2: hsl(0, 0%, 50%);
$neutral-3: hsl(0, 0%, 7%);

$default-font-family: 'Figtree';
$fs-1: .5rem;
$fs-2: .875rem;
$fs-3: clamp(1.7vh, 1rem, 2vh);
$fs-4: clamp(2.5vh,1.5rem, 3.5vh);
$fs-5: 2rem;
$fs-6: 3rem;

$fw-regular: 400;
$fw-default: 500;
$fw-bold: 800;
