@use "variables" as *;
@use "resets" as *;
@use 'card' as *;

@font-face {
  font-family: "Figtree";
  font-display: swap;
  font-weight: 400 800;
  src: url("../assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
}

body {
    background-color: $primary;
    font-family: $default-font-family;
    font-size: $fs-3;
    min-height: 100vh;
    display: grid;
    place-content: center;
    padding-inline: 1.5rem;
}

.badge {
    display: inline-block;
    font-weight: $fw-bold;
    background-color: $primary;
    padding: .375rem .675rem;
    margin-block: 1.25rem .875rem;
    border-radius: 5px;
}

.flex-group {
    display: flex;
    align-items: center;
    gap: 1rem;
}